<div class="bg-dark text-white p-3" style="width: 260px;">
    <h4 class="mb-4">VMS</h4>

    <nav class="nav flex-column gap-2">
        <NavLink class="nav-link text-white" href="/visitors" Match="NavLinkMatch.Prefix">Visitors</NavLink>
        <NavLink class="nav-link text-white" href="/visitors/create">Add Visitor</NavLink>
        <NavLink class="nav-link text-white" href="/visits" Match="NavLinkMatch.Prefix">Visits</NavLink>
        <NavLink class="nav-link text-white" href="/visits/create">Schedule Visit</NavLink>
        <NavLink class="nav-link text-white" href="/offices">Offices</NavLink>
    </nav>
</div>
